flows.json
[{"id":"91e71dad.066d9","type":"tab","label":"tweakers","disabled":false,"info":"# tweakers\n\nIt is monitoring the [buy&sell RSS feed](https://tweakers.net/feeds/va.xml) of the dutch site [tweakers.net](https://tweakers.net/).  It is checking for articles matching a specific criteria and if so posts a message on the slack channel with ID=`$slack_channel_tweakers`\n\n## Prerequisites\n\nThe following 2 environments variables must be set for this flow:\n\n1. **slack_token** : the API token of your slack Bot (customs integrations)\n2. **slack_channel_tweakers** : The ID of the slack channel where the flow will post a message when an article has been put on tweakers matching the criteria.  Don't forget to assure that the slack Bot is mem ber of this channel.\n\n## Testing\n\nYou can test if slack configuration is properly setup by triggering the `[test slack output]` inject node: This should post a message on the slack channel with id `$slack_channel_tweakers`.\n\n"},{"id":"38c8c3e8.85c4bc","type":"slack-config","z":"","name":"$slack_token"},{"id":"e9feca81.b881d8","type":"feedparse","z":"91e71dad.066d9","name":"tweakers vraag en aanbod","url":"https://tweakers.net/feeds/va.xml","interval":"5","x":130,"y":120,"wires":[["382f8fd2.fbac9","74f15f4a.cbf49","3ab4110b.371dde"]]},{"id":"382f8fd2.fbac9","type":"debug","z":"91e71dad.066d9","name":"tweakers vraag en aanbod","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":40,"wires":[]},{"id":"74f15f4a.cbf49","type":"change","z":"91e71dad.066d9","name":"add \"article.price\", \"article.isNUC\" and \"article.isBarebone\"","rules":[{"t":"set","p":"article.price","pt":"msg","to":"(\t  $hasPrice := $contains(article.title,\"€\");\t  $priceString := $replace($substringBefore($substringAfter(article.title,\" € \"),\",\"),\".\",\"\");\t  $price := $hasPrice ? $number($priceString) : -1\t)\t/* \t{\t    \"topic\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\",\t    \"payload\": \"Hallo Tweakers, Hierbij aangeboden: Samsung Spinpoint F4 EG HD204UI De vraagprijs van €75 geldt bij afname van 3 stuks, anders is de prijs €30 per stuk. De harde schijven verkeren in goede staat; health 100% / performance 100% (gecheckt met hdsentinel) De harde schijven zijn getest op werking en zijn volledig gewiped (schoongemaakt), klaar voor een nieuwe eigenaar. De harde schijven kunnen wor...\",\t    \"article\": {\t        \"title\": \"A: (3x) Samsung Spinpoint F4 EG HD204UI, 2TB - € 75.000,-\",\t        \"description\": \"Hallo Tweakers, Hierbij aangeboden: Samsung Spinpoint F4 EG HD204UI De vraagprijs van €75 geldt bij afname van 3 stuks, anders is de prijs €30 per stuk. De harde schijven verkeren in goede staat; health 100% / performance 100% (gecheckt met hdsentinel) De harde schijven zijn getest op werking en zijn volledig gewiped (schoongemaakt), klaar voor een nieuwe eigenaar. De harde schijven kunnen wor...\",\t        \"summary\": \"Hallo Tweakers, Hierbij aangeboden: Samsung Spinpoint F4 EG HD204UI De vraagprijs van €75 geldt bij afname van 3 stuks, anders is de prijs €30 per stuk. De harde schijven verkeren in goede staat; health 100% / performance 100% (gecheckt met hdsentinel) De harde schijven zijn getest op werking en zijn volledig gewiped (schoongemaakt), klaar voor een nieuwe eigenaar. De harde schijven kunnen wor...\",\t        \"date\": \"2019-12-04T11:24:05.000Z\",\t        \"pubdate\": \"2019-12-04T11:24:05.000Z\",\t        \"pubDate\": \"2019-12-04T11:24:05.000Z\",\t        \"link\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\",\t        \"guid\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\",\t        \"author\": \"Neopatch\",\t        \"comments\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html#reacties\",\t        \"origlink\": null,\t        \"image\": {},\t        \"source\": {},\t        \"categories\": [\t            \"Interne harde schijven\"\t        ],\t        \"enclosures\": [],\t        \"rss:@\": {},\t        \"rss:title\": {\t            \"@\": {},\t            \"#\": \"A: (3x) Samsung Spinpoint F4 EG HD204UI, 2TB - € 75,-\"\t        },\t        \"rss:link\": {\t            \"@\": {},\t            \"#\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\"\t        },\t        \"rss:description\": {\t            \"@\": {},\t            \"#\": \"Hallo Tweakers, Hierbij aangeboden: Samsung Spinpoint F4 EG HD204UI De vraagprijs van €75 geldt bij afname van 3 stuks, anders is de prijs €30 per stuk. De harde schijven verkeren in goede staat; health 100% / performance 100% (gecheckt met hdsentinel) De harde schijven zijn getest op werking en zijn volledig gewiped (schoongemaakt), klaar voor een nieuwe eigenaar. De harde schijven kunnen wor...\"\t        },\t        \"rss:author\": {\t            \"@\": {},\t            \"#\": \"Neopatch\",\t            \"name\": \"Neopatch\",\t            \"email\": \"\"\t        },\t        \"rss:category\": {\t            \"@\": {},\t            \"#\": \"Interne harde schijven\"\t        },\t        \"rss:comments\": {\t            \"@\": {},\t            \"#\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html#reacties\"\t        },\t        \"rss:guid\": {\t            \"@\": {\t                \"ispermalink\": \"false\"\t            },\t            \"#\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\"\t        },\t        \"rss:pubdate\": {\t            \"@\": {},\t            \"#\": \"Wed, 04 Dec 2019 11:24:05 GMT\"\t        },\t        \"meta\": {\t            \"#ns\": [\t                {\t                    \"xmlns:content\": \"http://purl.org/rss/1.0/modules/content/\"\t                }\t            ],\t            \"@\": [\t                {\t                    \"xmlns:content\": \"http://purl.org/rss/1.0/modules/content/\"\t                }\t            ],\t            \"#xml\": {\t                \"version\": \"1.0\",\t                \"encoding\": \"UTF-8\"\t            },\t            \"#type\": \"rss\",\t            \"#version\": \"2.0\",\t            \"title\": \"Tweakers Vraag & Aanbod\",\t            \"description\": \"Tweakers is de grootste hardwaresite en techcommunity van Nederland.\",\t            \"date\": \"2019-12-04T13:02:00.000Z\",\t            \"pubdate\": \"2019-12-04T13:02:00.000Z\",\t            \"pubDate\": \"2019-12-04T13:02:00.000Z\",\t            \"link\": \"https://tweakers.net/aanbod\",\t            \"xmlurl\": null,\t            \"xmlUrl\": null,\t            \"author\": \"gathering@tweakers.net\",\t            \"language\": \"nl-nl\",\t            \"favicon\": null,\t            \"copyright\": \"Copyright 1998 - 2019 DPG Online Services B.V.\",\t            \"generator\": null,\t            \"cloud\": {},\t            \"image\": {\t                \"url\": \"https://tweakimg.net/g/if/logo.gif\",\t                \"title\": \"Tweakers\"\t            },\t            \"categories\": [],\t            \"rss:@\": {},\t            \"rss:copyright\": {\t                \"@\": {},\t                \"#\": \"Copyright 1998 - 2019 DPG Online Services B.V.\"\t            },\t            \"rss:pubdate\": {\t                \"@\": {},\t                \"#\": \"Wed, 04 Dec 2019 13:02:00 GMT\"\t            },\t            \"rss:lastbuilddate\": {\t                \"@\": {},\t                \"#\": \"Wed, 04 Dec 2019 13:02:00 GMT\"\t            },\t            \"rss:docs\": {\t                \"@\": {},\t                \"#\": \"https://tweakers.net/reviews/76\"\t            },\t            \"rss:description\": {\t                \"@\": {},\t                \"#\": \"Tweakers is de grootste hardwaresite en techcommunity van Nederland.\"\t            },\t            \"rss:image\": {\t                \"@\": {},\t                \"link\": {\t                    \"@\": {},\t                    \"#\": \"https://tweakers.net/\"\t                },\t                \"title\": {\t                    \"@\": {},\t                    \"#\": \"Tweakers\"\t                },\t                \"url\": {\t                    \"@\": {},\t                    \"#\": \"https://tweakimg.net/g/if/logo.gif\"\t                },\t                \"height\": {\t                    \"@\": {}\t                },\t                \"width\": {\t                    \"@\": {}\t                },\t                \"description\": {\t                    \"@\": {},\t                    \"#\": \"Tweakers\"\t                }\t            },\t            \"rss:language\": {\t                \"@\": {},\t                \"#\": \"nl-nl\"\t            },\t            \"rss:link\": {\t                \"@\": {},\t                \"#\": \"https://tweakers.net/aanbod\"\t            },\t            \"rss:title\": {\t                \"@\": {},\t                \"#\": \"Tweakers Vraag & Aanbod\"\t            },\t            \"rss:webmaster\": {\t                \"@\": {},\t                \"#\": \"gathering@tweakers.net\",\t                \"name\": \"\",\t                \"email\": \"gathering@tweakers.net\"\t            }\t        }\t    },\t    \"_msgid\": \"bbca59a2.360d08\"\t}\t*/","tot":"jsonata"},{"t":"set","p":"article.isNUC","pt":"msg","to":"$contains(article.description,\"NUC\") or $contains(article.title,\"NUC\")\t/* \t{\t    \"topic\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\",\t    \"payload\": \"Hallo Tweakers, Hierbij aangeboden: Samsung Spinpoint F4 EG HD204UI De vraagprijs van €75 geldt bij afname van 3 stuks, anders is de prijs €30 per stuk. De harde schijven verkeren in goede staat; health 100% / performance 100% (gecheckt met hdsentinel) De harde schijven zijn getest op werking en zijn volledig gewiped (schoongemaakt), klaar voor een nieuwe eigenaar. De harde schijven kunnen wor...\",\t    \"article\": {\t        \"title\": \"A: (3x) Samsung Spinpoint F4 EG HD204UI, 2TB - € 75,-\",\t        \"description\": \"Hallo Tweakers, Hierbij aangeboden: Samsung Spinpoint F4 EG HD204UI De vraagprijs van €75 geldt bij afname van 3 stuks, anders is de prijs €30 per stuk. De harde schijven verkeren in goede staat; health 100% / performance 100% (gecheckt met hdsentinel) De harde schijven zijn getest op werking en zijn volledig gewiped (schoongemaakt), klaar voor een nieuwe eigenaar. De harde schijven kunnen wor...\",\t        \"summary\": \"Hallo Tweakers, Hierbij aangeboden: Samsung Spinpoint F4 EG HD204UI De vraagprijs van €75 geldt bij afname van 3 stuks, anders is de prijs €30 per stuk. De harde schijven verkeren in goede staat; health 100% / performance 100% (gecheckt met hdsentinel) De harde schijven zijn getest op werking en zijn volledig gewiped (schoongemaakt), klaar voor een nieuwe eigenaar. De harde schijven kunnen wor...\",\t        \"date\": \"2019-12-04T11:24:05.000Z\",\t        \"pubdate\": \"2019-12-04T11:24:05.000Z\",\t        \"pubDate\": \"2019-12-04T11:24:05.000Z\",\t        \"link\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\",\t        \"guid\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\",\t        \"author\": \"Neopatch\",\t        \"comments\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html#reacties\",\t        \"origlink\": null,\t        \"image\": {},\t        \"source\": {},\t        \"categories\": [\t            \"Interne harde schijven\"\t        ],\t        \"enclosures\": [],\t        \"rss:@\": {},\t        \"rss:title\": {\t            \"@\": {},\t            \"#\": \"A: (3x) Samsung Spinpoint F4 EG HD204UI, 2TB - € 75,-\"\t        },\t        \"rss:link\": {\t            \"@\": {},\t            \"#\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\"\t        },\t        \"rss:description\": {\t            \"@\": {},\t            \"#\": \"Hallo Tweakers, Hierbij aangeboden: Samsung Spinpoint F4 EG HD204UI De vraagprijs van €75 geldt bij afname van 3 stuks, anders is de prijs €30 per stuk. De harde schijven verkeren in goede staat; health 100% / performance 100% (gecheckt met hdsentinel) De harde schijven zijn getest op werking en zijn volledig gewiped (schoongemaakt), klaar voor een nieuwe eigenaar. De harde schijven kunnen wor...\"\t        },\t        \"rss:author\": {\t            \"@\": {},\t            \"#\": \"Neopatch\",\t            \"name\": \"Neopatch\",\t            \"email\": \"\"\t        },\t        \"rss:category\": {\t            \"@\": {},\t            \"#\": \"Interne harde schijven\"\t        },\t        \"rss:comments\": {\t            \"@\": {},\t            \"#\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html#reacties\"\t        },\t        \"rss:guid\": {\t            \"@\": {\t                \"ispermalink\": \"false\"\t            },\t            \"#\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\"\t        },\t        \"rss:pubdate\": {\t            \"@\": {},\t            \"#\": \"Wed, 04 Dec 2019 11:24:05 GMT\"\t        },\t        \"meta\": {\t            \"#ns\": [\t                {\t                    \"xmlns:content\": \"http://purl.org/rss/1.0/modules/content/\"\t                }\t            ],\t            \"@\": [\t                {\t                    \"xmlns:content\": \"http://purl.org/rss/1.0/modules/content/\"\t                }\t            ],\t            \"#xml\": {\t                \"version\": \"1.0\",\t                \"encoding\": \"UTF-8\"\t            },\t            \"#type\": \"rss\",\t            \"#version\": \"2.0\",\t            \"title\": \"Tweakers Vraag & Aanbod\",\t            \"description\": \"Tweakers is de grootste hardwaresite en techcommunity van Nederland.\",\t            \"date\": \"2019-12-04T13:02:00.000Z\",\t            \"pubdate\": \"2019-12-04T13:02:00.000Z\",\t            \"pubDate\": \"2019-12-04T13:02:00.000Z\",\t            \"link\": \"https://tweakers.net/aanbod\",\t            \"xmlurl\": null,\t            \"xmlUrl\": null,\t            \"author\": \"gathering@tweakers.net\",\t            \"language\": \"nl-nl\",\t            \"favicon\": null,\t            \"copyright\": \"Copyright 1998 - 2019 DPG Online Services B.V.\",\t            \"generator\": null,\t            \"cloud\": {},\t            \"image\": {\t                \"url\": \"https://tweakimg.net/g/if/logo.gif\",\t                \"title\": \"Tweakers\"\t            },\t            \"categories\": [],\t            \"rss:@\": {},\t            \"rss:copyright\": {\t                \"@\": {},\t                \"#\": \"Copyright 1998 - 2019 DPG Online Services B.V.\"\t            },\t            \"rss:pubdate\": {\t                \"@\": {},\t                \"#\": \"Wed, 04 Dec 2019 13:02:00 GMT\"\t            },\t            \"rss:lastbuilddate\": {\t                \"@\": {},\t                \"#\": \"Wed, 04 Dec 2019 13:02:00 GMT\"\t            },\t            \"rss:docs\": {\t                \"@\": {},\t                \"#\": \"https://tweakers.net/reviews/76\"\t            },\t            \"rss:description\": {\t                \"@\": {},\t                \"#\": \"Tweakers is de grootste hardwaresite en techcommunity van Nederland.\"\t            },\t            \"rss:image\": {\t                \"@\": {},\t                \"link\": {\t                    \"@\": {},\t                    \"#\": \"https://tweakers.net/\"\t                },\t                \"title\": {\t                    \"@\": {},\t                    \"#\": \"Tweakers\"\t                },\t                \"url\": {\t                    \"@\": {},\t                    \"#\": \"https://tweakimg.net/g/if/logo.gif\"\t                },\t                \"height\": {\t                    \"@\": {}\t                },\t                \"width\": {\t                    \"@\": {}\t                },\t                \"description\": {\t                    \"@\": {},\t                    \"#\": \"Tweakers\"\t                }\t            },\t            \"rss:language\": {\t                \"@\": {},\t                \"#\": \"nl-nl\"\t            },\t            \"rss:link\": {\t                \"@\": {},\t                \"#\": \"https://tweakers.net/aanbod\"\t            },\t            \"rss:title\": {\t                \"@\": {},\t                \"#\": \"Tweakers Vraag & Aanbod\"\t            },\t            \"rss:webmaster\": {\t                \"@\": {},\t                \"#\": \"gathering@tweakers.net\",\t                \"name\": \"\",\t                \"email\": \"gathering@tweakers.net\"\t            }\t        }\t    },\t    \"_msgid\": \"bbca59a2.360d08\"\t}\t*/","tot":"jsonata"},{"t":"set","p":"article.isBarebone","pt":"msg","to":"article.categories[0]=\"Barebones\"\t/* \t{\t    \"topic\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\",\t    \"payload\": \"Hallo Tweakers, Hierbij aangeboden: Samsung Spinpoint F4 EG HD204UI De vraagprijs van €75 geldt bij afname van 3 stuks, anders is de prijs €30 per stuk. De harde schijven verkeren in goede staat; health 100% / performance 100% (gecheckt met hdsentinel) De harde schijven zijn getest op werking en zijn volledig gewiped (schoongemaakt), klaar voor een nieuwe eigenaar. De harde schijven kunnen wor...\",\t    \"article\": {\t        \"title\": \"A: (3x) Samsung Spinpoint F4 EG HD204UI, 2TB - € 75,-\",\t        \"description\": \"Hallo Tweakers, Hierbij aangeboden: Samsung Spinpoint F4 EG HD204UI De vraagprijs van €75 geldt bij afname van 3 stuks, anders is de prijs €30 per stuk. De harde schijven verkeren in goede staat; health 100% / performance 100% (gecheckt met hdsentinel) De harde schijven zijn getest op werking en zijn volledig gewiped (schoongemaakt), klaar voor een nieuwe eigenaar. De harde schijven kunnen wor...\",\t        \"summary\": \"Hallo Tweakers, Hierbij aangeboden: Samsung Spinpoint F4 EG HD204UI De vraagprijs van €75 geldt bij afname van 3 stuks, anders is de prijs €30 per stuk. De harde schijven verkeren in goede staat; health 100% / performance 100% (gecheckt met hdsentinel) De harde schijven zijn getest op werking en zijn volledig gewiped (schoongemaakt), klaar voor een nieuwe eigenaar. De harde schijven kunnen wor...\",\t        \"date\": \"2019-12-04T11:24:05.000Z\",\t        \"pubdate\": \"2019-12-04T11:24:05.000Z\",\t        \"pubDate\": \"2019-12-04T11:24:05.000Z\",\t        \"link\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\",\t        \"guid\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\",\t        \"author\": \"Neopatch\",\t        \"comments\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html#reacties\",\t        \"origlink\": null,\t        \"image\": {},\t        \"source\": {},\t        \"categories\": [\t            \"Interne harde schijven\"\t        ],\t        \"enclosures\": [],\t        \"rss:@\": {},\t        \"rss:title\": {\t            \"@\": {},\t            \"#\": \"A: (3x) Samsung Spinpoint F4 EG HD204UI, 2TB - € 75,-\"\t        },\t        \"rss:link\": {\t            \"@\": {},\t            \"#\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\"\t        },\t        \"rss:description\": {\t            \"@\": {},\t            \"#\": \"Hallo Tweakers, Hierbij aangeboden: Samsung Spinpoint F4 EG HD204UI De vraagprijs van €75 geldt bij afname van 3 stuks, anders is de prijs €30 per stuk. De harde schijven verkeren in goede staat; health 100% / performance 100% (gecheckt met hdsentinel) De harde schijven zijn getest op werking en zijn volledig gewiped (schoongemaakt), klaar voor een nieuwe eigenaar. De harde schijven kunnen wor...\"\t        },\t        \"rss:author\": {\t            \"@\": {},\t            \"#\": \"Neopatch\",\t            \"name\": \"Neopatch\",\t            \"email\": \"\"\t        },\t        \"rss:category\": {\t            \"@\": {},\t            \"#\": \"Interne harde schijven\"\t        },\t        \"rss:comments\": {\t            \"@\": {},\t            \"#\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html#reacties\"\t        },\t        \"rss:guid\": {\t            \"@\": {\t                \"ispermalink\": \"false\"\t            },\t            \"#\": \"https://tweakers.net/aanbod/2186748/(3x)-samsung-spinpoint-f4-eg-hd204ui-2tb.html\"\t        },\t        \"rss:pubdate\": {\t            \"@\": {},\t            \"#\": \"Wed, 04 Dec 2019 11:24:05 GMT\"\t        },\t        \"meta\": {\t            \"#ns\": [\t                {\t                    \"xmlns:content\": \"http://purl.org/rss/1.0/modules/content/\"\t                }\t            ],\t            \"@\": [\t                {\t                    \"xmlns:content\": \"http://purl.org/rss/1.0/modules/content/\"\t                }\t            ],\t            \"#xml\": {\t                \"version\": \"1.0\",\t                \"encoding\": \"UTF-8\"\t            },\t            \"#type\": \"rss\",\t            \"#version\": \"2.0\",\t            \"title\": \"Tweakers Vraag & Aanbod\",\t            \"description\": \"Tweakers is de grootste hardwaresite en techcommunity van Nederland.\",\t            \"date\": \"2019-12-04T13:02:00.000Z\",\t            \"pubdate\": \"2019-12-04T13:02:00.000Z\",\t            \"pubDate\": \"2019-12-04T13:02:00.000Z\",\t            \"link\": \"https://tweakers.net/aanbod\",\t            \"xmlurl\": null,\t            \"xmlUrl\": null,\t            \"author\": \"gathering@tweakers.net\",\t            \"language\": \"nl-nl\",\t            \"favicon\": null,\t            \"copyright\": \"Copyright 1998 - 2019 DPG Online Services B.V.\",\t            \"generator\": null,\t            \"cloud\": {},\t            \"image\": {\t                \"url\": \"https://tweakimg.net/g/if/logo.gif\",\t                \"title\": \"Tweakers\"\t            },\t            \"categories\": [],\t            \"rss:@\": {},\t            \"rss:copyright\": {\t                \"@\": {},\t                \"#\": \"Copyright 1998 - 2019 DPG Online Services B.V.\"\t            },\t            \"rss:pubdate\": {\t                \"@\": {},\t                \"#\": \"Wed, 04 Dec 2019 13:02:00 GMT\"\t            },\t            \"rss:lastbuilddate\": {\t                \"@\": {},\t                \"#\": \"Wed, 04 Dec 2019 13:02:00 GMT\"\t            },\t            \"rss:docs\": {\t                \"@\": {},\t                \"#\": \"https://tweakers.net/reviews/76\"\t            },\t            \"rss:description\": {\t                \"@\": {},\t                \"#\": \"Tweakers is de grootste hardwaresite en techcommunity van Nederland.\"\t            },\t            \"rss:image\": {\t                \"@\": {},\t                \"link\": {\t                    \"@\": {},\t                    \"#\": \"https://tweakers.net/\"\t                },\t                \"title\": {\t                    \"@\": {},\t                    \"#\": \"Tweakers\"\t                },\t                \"url\": {\t                    \"@\": {},\t                    \"#\": \"https://tweakimg.net/g/if/logo.gif\"\t                },\t                \"height\": {\t                    \"@\": {}\t                },\t                \"width\": {\t                    \"@\": {}\t                },\t                \"description\": {\t                    \"@\": {},\t                    \"#\": \"Tweakers\"\t                }\t            },\t            \"rss:language\": {\t                \"@\": {},\t                \"#\": \"nl-nl\"\t            },\t            \"rss:link\": {\t                \"@\": {},\t                \"#\": \"https://tweakers.net/aanbod\"\t            },\t            \"rss:title\": {\t                \"@\": {},\t                \"#\": \"Tweakers Vraag & Aanbod\"\t            },\t            \"rss:webmaster\": {\t                \"@\": {},\t                \"#\": \"gathering@tweakers.net\",\t                \"name\": \"\",\t                \"email\": \"gathering@tweakers.net\"\t            }\t        }\t    },\t    \"_msgid\": \"bbca59a2.360d08\"\t}\t*/","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":180,"wires":[["fef5bb64.57a558","72582df1.46c194"]]},{"id":"fef5bb64.57a558","type":"debug","z":"91e71dad.066d9","name":"with price and isNUC","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":180,"wires":[]},{"id":"72582df1.46c194","type":"switch","z":"91e71dad.066d9","name":"( article.isNUC or article.isBarebone) and (article.price<=200)","property":"( article.isNUC or article.isBarebone) and (article.price<=200)\t/*\t{\t    \"topic\": \"https://tweakers.net/aanbod/2186756/game-pc.html\",\t    \"payload\": \"Sterke game pc die triple A games runt met minimaal 60fps en goeie graphics. Specificaties: Intel I5 4570 16GB ram NVIDIA GTX 1060 6GB Cooler master hyper TX3 EVO koeler 250 GB Samsung SSD 1TB HDD WiFi kaart Windows 10 Eventueel ook met toetsenbord en muis verkrijgbaar tegen aanbetaling.\",\t    \"article\": {\t        \"title\": \"A: Game pc - € 450,-\",\t        \"description\": \"Sterke game pc die triple A games runt met minimaal 60fps en goeie graphics. Specificaties: Intel I5 4570 16GB ram NVIDIA GTX 1060 6GB Cooler master hyper TX3 EVO koeler 250 GB Samsung SSD 1TB HDD WiFi kaart Windows 10 Eventueel ook met toetsenbord en muis verkrijgbaar tegen aanbetaling.\",\t        \"summary\": \"Sterke game pc die triple A games runt met minimaal 60fps en goeie graphics. Specificaties: Intel I5 4570 16GB ram NVIDIA GTX 1060 6GB Cooler master hyper TX3 EVO koeler 250 GB Samsung SSD 1TB HDD WiFi kaart Windows 10 Eventueel ook met toetsenbord en muis verkrijgbaar tegen aanbetaling.\",\t        \"date\": \"2019-12-04T11:40:00.000Z\",\t        \"pubdate\": \"2019-12-04T11:40:00.000Z\",\t        \"pubDate\": \"2019-12-04T11:40:00.000Z\",\t        \"link\": \"https://tweakers.net/aanbod/2186756/game-pc.html\",\t        \"guid\": \"https://tweakers.net/aanbod/2186756/game-pc.html\",\t        \"author\": \"Ivopas98\",\t        \"comments\": \"https://tweakers.net/aanbod/2186756/game-pc.html#reacties\",\t        \"origlink\": null,\t        \"image\": {},\t        \"source\": {},\t        \"categories\": [\t            \"PC's\"\t        ],\t        \"enclosures\": [],\t        \"rss:@\": {},\t        \"rss:title\": {\t            \"@\": {},\t            \"#\": \"A: Game pc - € 450,-\"\t        },\t        \"rss:link\": {\t            \"@\": {},\t            \"#\": \"https://tweakers.net/aanbod/2186756/game-pc.html\"\t        },\t        \"rss:description\": {\t            \"@\": {},\t            \"#\": \"Sterke game pc die triple A games runt met minimaal 60fps en goeie graphics. Specificaties: Intel I5 4570 16GB ram NVIDIA GTX 1060 6GB Cooler master hyper TX3 EVO koeler 250 GB Samsung SSD 1TB HDD WiFi kaart Windows 10 Eventueel ook met toetsenbord en muis verkrijgbaar tegen aanbetaling.\"\t        },\t        \"rss:author\": {\t            \"@\": {},\t            \"#\": \"Ivopas98\",\t            \"name\": \"Ivopas98\",\t            \"email\": \"\"\t        },\t        \"rss:category\": {\t            \"@\": {},\t            \"#\": \"PC's\"\t        },\t        \"rss:comments\": {\t            \"@\": {},\t            \"#\": \"https://tweakers.net/aanbod/2186756/game-pc.html#reacties\"\t        },\t        \"rss:guid\": {\t            \"@\": {\t                \"ispermalink\": \"false\"\t            },\t            \"#\": \"https://tweakers.net/aanbod/2186756/game-pc.html\"\t        },\t        \"rss:pubdate\": {\t            \"@\": {},\t            \"#\": \"Wed, 04 Dec 2019 11:40:00 GMT\"\t        },\t        \"meta\": {\t            \"#ns\": [\t                {\t                    \"xmlns:content\": \"http://purl.org/rss/1.0/modules/content/\"\t                }\t            ],\t            \"@\": [\t                {\t                    \"xmlns:content\": \"http://purl.org/rss/1.0/modules/content/\"\t                }\t            ],\t            \"#xml\": {\t                \"version\": \"1.0\",\t                \"encoding\": \"UTF-8\"\t            },\t            \"#type\": \"rss\",\t            \"#version\": \"2.0\",\t            \"title\": \"Tweakers Vraag & Aanbod\",\t            \"description\": \"Tweakers is de grootste hardwaresite en techcommunity van Nederland.\",\t            \"date\": \"2019-12-04T13:22:00.000Z\",\t            \"pubdate\": \"2019-12-04T13:22:00.000Z\",\t            \"pubDate\": \"2019-12-04T13:22:00.000Z\",\t            \"link\": \"https://tweakers.net/aanbod\",\t            \"xmlurl\": null,\t            \"xmlUrl\": null,\t            \"author\": \"gathering@tweakers.net\",\t            \"language\": \"nl-nl\",\t            \"favicon\": null,\t            \"copyright\": \"Copyright 1998 - 2019 DPG Online Services B.V.\",\t            \"generator\": null,\t            \"cloud\": {},\t            \"image\": {\t                \"url\": \"https://tweakimg.net/g/if/logo.gif\",\t                \"title\": \"Tweakers\"\t            },\t            \"categories\": [],\t            \"rss:@\": {},\t            \"rss:copyright\": {\t                \"@\": {},\t                \"#\": \"Copyright 1998 - 2019 DPG Online Services B.V.\"\t            },\t            \"rss:pubdate\": {\t                \"@\": {},\t                \"#\": \"Wed, 04 Dec 2019 13:22:00 GMT\"\t            },\t            \"rss:lastbuilddate\": {\t                \"@\": {},\t                \"#\": \"Wed, 04 Dec 2019 13:22:00 GMT\"\t            },\t            \"rss:docs\": {\t                \"@\": {},\t                \"#\": \"https://tweakers.net/reviews/76\"\t            },\t            \"rss:description\": {\t                \"@\": {},\t                \"#\": \"Tweakers is de grootste hardwaresite en techcommunity van Nederland.\"\t            },\t            \"rss:image\": {\t                \"@\": {},\t                \"link\": {\t                    \"@\": {},\t                    \"#\": \"https://tweakers.net/\"\t                },\t                \"title\": {\t                    \"@\": {},\t                    \"#\": \"Tweakers\"\t                },\t                \"url\": {\t                    \"@\": {},\t                    \"#\": \"https://tweakimg.net/g/if/logo.gif\"\t                },\t                \"height\": {\t                    \"@\": {}\t                },\t                \"width\": {\t                    \"@\": {}\t                },\t                \"description\": {\t                    \"@\": {},\t                    \"#\": \"Tweakers\"\t                }\t            },\t            \"rss:language\": {\t                \"@\": {},\t                \"#\": \"nl-nl\"\t            },\t            \"rss:link\": {\t                \"@\": {},\t                \"#\": \"https://tweakers.net/aanbod\"\t            },\t            \"rss:title\": {\t                \"@\": {},\t                \"#\": \"Tweakers Vraag & Aanbod\"\t            },\t            \"rss:webmaster\": {\t                \"@\": {},\t                \"#\": \"gathering@tweakers.net\",\t                \"name\": \"\",\t                \"email\": \"gathering@tweakers.net\"\t            }\t        },\t        \"price\": 450,\t        \"isNUC\": false\t    },\t    \"_msgid\": \"16f1deb3.db7511\"\t}\t*/","propertyType":"jsonata","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":280,"wires":[["584263aa.87247c","bc653fed.acd4","96a0ebb4.fb0008"],["30c4f836.8c81e8"]]},{"id":"584263aa.87247c","type":"debug","z":"91e71dad.066d9","name":"meeting filter criteria","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":240,"wires":[]},{"id":"30c4f836.8c81e8","type":"debug","z":"91e71dad.066d9","name":"not meeting filter criteria","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":340,"wires":[]},{"id":"62959414.c3e1ec","type":"slack-web-out","z":"91e71dad.066d9","client":"38c8c3e8.85c4bc","name":"$slack_token","x":590,"y":500,"wires":[["9713e43a.c64f68"]]},{"id":"f024ab44.fbb7f8","type":"inject","z":"91e71dad.066d9","name":"test slack output","topic":"","payload":"This is a test !","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["6e7a3caf.1c1fb4"]]},{"id":"9713e43a.c64f68","type":"debug","z":"91e71dad.066d9","name":"slack web out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":500,"wires":[]},{"id":"55a7fb72.05fc74","type":"change","z":"91e71dad.066d9","name":"prepare slack message","rules":[{"t":"set","p":"topic","pt":"msg","to":"chat.meMessage","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"channel\":\"SEE BELOW\",\"text\":\"SEE BELOW\"}","tot":"json"},{"t":"set","p":"payload.text","pt":"msg","to":"text","tot":"msg"},{"t":"set","p":"payload.channel","pt":"msg","to":"slack_channel_tweakers","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":440,"wires":[["62959414.c3e1ec"]]},{"id":"3ab4110b.371dde","type":"debug","z":"91e71dad.066d9","name":"new article on tweaker","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"article.title","targetType":"msg","x":410,"y":80,"wires":[]},{"id":"bc653fed.acd4","type":"debug","z":"91e71dad.066d9","name":"MEETs FILTER CRITERIA:","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"article.title","targetType":"msg","x":740,"y":280,"wires":[]},{"id":"96a0ebb4.fb0008","type":"change","z":"91e71dad.066d9","name":"msg.text = article price : title - description ....","rules":[{"t":"set","p":"text","pt":"msg","to":"article.price & \" € :\" & article.title & \"\\n\" & article.description & \"\\n\" & article.link\t/*\t{\t    \"topic\": \"https://tweakers.net/aanbod/2186822/apple-tv-4k-32gb.html\",\t    \"payload\": \"Beste koper, Hierbij bied ik mijn Apple TV 4K 32gb aan, inclusief toebehoren. Interesse? Stuur me een berichtje op Tweakers of bel/sms me op 0620129958 mvg Maurits\",\t    \"article\": {\t        \"title\": \"A: Apple TV 4K 32GB - € 120,-\",\t        \"description\": \"Beste koper, Hierbij bied ik mijn Apple TV 4K 32gb aan, inclusief toebehoren. Interesse? Stuur me een berichtje op Tweakers of bel/sms me op 0620129958 mvg Maurits\",\t        \"summary\": \"Beste koper, Hierbij bied ik mijn Apple TV 4K 32gb aan, inclusief toebehoren. Interesse? Stuur me een berichtje op Tweakers of bel/sms me op 0620129958 mvg Maurits\",\t        \"date\": \"2019-12-04T12:57:16.000Z\",\t        \"pubdate\": \"2019-12-04T12:57:16.000Z\",\t        \"pubDate\": \"2019-12-04T12:57:16.000Z\",\t        \"link\": \"https://tweakers.net/aanbod/2186822/apple-tv-4k-32gb.html\",\t        \"guid\": \"https://tweakers.net/aanbod/2186822/apple-tv-4k-32gb.html\",\t        \"author\": \"iTz MauMau\",\t        \"comments\": \"https://tweakers.net/aanbod/2186822/apple-tv-4k-32gb.html#reacties\",\t        \"origlink\": null,\t        \"image\": {},\t        \"source\": {},\t        \"categories\": [\t            \"Mediaspelers\"\t        ],\t        \"enclosures\": [],\t        \"rss:@\": {},\t        \"rss:title\": {\t            \"@\": {},\t            \"#\": \"A: Apple TV 4K 32GB - € 120,-\"\t        },\t        \"rss:link\": {\t            \"@\": {},\t            \"#\": \"https://tweakers.net/aanbod/2186822/apple-tv-4k-32gb.html\"\t        },\t        \"rss:description\": {\t            \"@\": {},\t            \"#\": \"Beste koper, Hierbij bied ik mijn Apple TV 4K 32gb aan, inclusief toebehoren. Interesse? Stuur me een berichtje op Tweakers of bel/sms me op 0620129958 mvg Maurits\"\t        },\t        \"rss:author\": {\t            \"@\": {},\t            \"#\": \"iTz MauMau\",\t            \"name\": \"iTz MauMau\",\t            \"email\": \"\"\t        },\t        \"rss:category\": {\t            \"@\": {},\t            \"#\": \"Mediaspelers\"\t        },\t        \"rss:comments\": {\t            \"@\": {},\t            \"#\": \"https://tweakers.net/aanbod/2186822/apple-tv-4k-32gb.html#reacties\"\t        },\t        \"rss:guid\": {\t            \"@\": {\t                \"ispermalink\": \"false\"\t            },\t            \"#\": \"https://tweakers.net/aanbod/2186822/apple-tv-4k-32gb.html\"\t        },\t        \"rss:pubdate\": {\t            \"@\": {},\t            \"#\": \"Wed, 04 Dec 2019 12:57:16 GMT\"\t        },\t        \"meta\": {\t            \"#ns\": [\t                {\t                    \"xmlns:content\": \"http://purl.org/rss/1.0/modules/content/\"\t                }\t            ],\t            \"@\": [\t                {\t                    \"xmlns:content\": \"http://purl.org/rss/1.0/modules/content/\"\t                }\t            ],\t            \"#xml\": {\t                \"version\": \"1.0\",\t                \"encoding\": \"UTF-8\"\t            },\t            \"#type\": \"rss\",\t            \"#version\": \"2.0\",\t            \"title\": \"Tweakers Vraag & Aanbod\",\t            \"description\": \"Tweakers is de grootste hardwaresite en techcommunity van Nederland.\",\t            \"date\": \"2019-12-04T13:47:00.000Z\",\t            \"pubdate\": \"2019-12-04T13:47:00.000Z\",\t            \"pubDate\": \"2019-12-04T13:47:00.000Z\",\t            \"link\": \"https://tweakers.net/aanbod\",\t            \"xmlurl\": null,\t            \"xmlUrl\": null,\t            \"author\": \"gathering@tweakers.net\",\t            \"language\": \"nl-nl\",\t            \"favicon\": null,\t            \"copyright\": \"Copyright 1998 - 2019 DPG Online Services B.V.\",\t            \"generator\": null,\t            \"cloud\": {},\t            \"image\": {\t                \"url\": \"https://tweakimg.net/g/if/logo.gif\",\t                \"title\": \"Tweakers\"\t            },\t            \"categories\": [],\t            \"rss:@\": {},\t            \"rss:copyright\": {\t                \"@\": {},\t                \"#\": \"Copyright 1998 - 2019 DPG Online Services B.V.\"\t            },\t            \"rss:pubdate\": {\t                \"@\": {},\t                \"#\": \"Wed, 04 Dec 2019 13:47:00 GMT\"\t            },\t            \"rss:lastbuilddate\": {\t                \"@\": {},\t                \"#\": \"Wed, 04 Dec 2019 13:47:00 GMT\"\t            },\t            \"rss:docs\": {\t                \"@\": {},\t                \"#\": \"https://tweakers.net/reviews/76\"\t            },\t            \"rss:description\": {\t                \"@\": {},\t                \"#\": \"Tweakers is de grootste hardwaresite en techcommunity van Nederland.\"\t            },\t            \"rss:image\": {\t                \"@\": {},\t                \"link\": {\t                    \"@\": {},\t                    \"#\": \"https://tweakers.net/\"\t                },\t                \"title\": {\t                    \"@\": {},\t                    \"#\": \"Tweakers\"\t                },\t                \"url\": {\t                    \"@\": {},\t                    \"#\": \"https://tweakimg.net/g/if/logo.gif\"\t                },\t                \"height\": {\t                    \"@\": {}\t                },\t                \"width\": {\t                    \"@\": {}\t                },\t                \"description\": {\t                    \"@\": {},\t                    \"#\": \"Tweakers\"\t                }\t            },\t            \"rss:language\": {\t                \"@\": {},\t                \"#\": \"nl-nl\"\t            },\t            \"rss:link\": {\t                \"@\": {},\t                \"#\": \"https://tweakers.net/aanbod\"\t            },\t            \"rss:title\": {\t                \"@\": {},\t                \"#\": \"Tweakers Vraag & Aanbod\"\t            },\t            \"rss:webmaster\": {\t                \"@\": {},\t                \"#\": \"gathering@tweakers.net\",\t                \"name\": \"\",\t                \"email\": \"gathering@tweakers.net\"\t            }\t        },\t        \"price\": 120,\t        \"isNUC\": false\t    },\t    \"_msgid\": \"2ee9cfe2.2054\"\t}\t*/","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":340,"wires":[["55a7fb72.05fc74"]]},{"id":"6e7a3caf.1c1fb4","type":"change","z":"91e71dad.066d9","name":"","rules":[{"t":"set","p":"text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":440,"wires":[["55a7fb72.05fc74"]]}]